@page
@model HealthCheckModel
@{
    ViewData["Title"] = "Health Check";
}

<h2 class="productCategory">Status</h2>

<div>
    <table class="status">
        <tr>
            <td><img src="~/images/IconLightStatusOK.png" alt="" /></td>
            <td>Connect function app to SQL Database is OK</td>
        </tr>
        <tr>
            <td><img src="~/images/IconLightStatusOK.png" alt="" /></td>
            <td>Connect function app to Azure Storage is OK</td>
        <tr>
    </table>
</div>